@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap');
.parent {
    width: 500x;
    height: 507px; 
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 15px;
    flex-wrap: wrap;
    gap: 10px;
}

.child {
    height: 200px;
    width: 295px;
    background-color: grey;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    flex-basis: 40%;
    
}

.child img {
    padding: 20px;
    align-items: center;
    width: 100px;
    height: 100px;
    
}

.child p {
    padding-right:430px;
    text-align: left;
    width: 100px;
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace ,'lemon-regular';
    font-weight: bolder;
}